
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    /* font-size: 62.5%; */
}

h1 {
    font-size: 60px;
}

.heroImg {
    width: 100%;
    height: 350px;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);   
}

.heroImg img {
    width: 20%;
}

